**/.DS_Store
._*
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.run.xml
*.bcf
*.lol
*.pdf
*.fdb_latexmk
*.fls
*.thm
/templates
**/build
